@import "ember-cli-font-awesome-sass";

.mic {
  text-align: center;
  font-size: 4em;
  margin: 40px auto;

  .intro {
    margin: 20px;
  }

  .intro-purpose {
    font-size: 0.3em;
  }

  a {
    color: #000;
  }

  &.switched-on i{
    color: green;
  }
}
